<a href="https://colab.research.google.com/github/ABMARK43/Data-Mining-Assignments/blob/master/apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import numpy as np 
import itertools as itr

In [0]:
data = pd.read_csv('/home/abhishek/Downloads/GroceryStoreDataSet.csv',sep='\n')

In [0]:
data

                      TRANSACTIONS
0               MILK,BREAD,BISCUIT
1    BREAD,MILK,BISCUIT,CORNFLAKES
2              BREAD,TEA,BOURNVITA
3             JAM,MAGGI,BREAD,MILK
4                MAGGI,TEA,BISCUIT
5              BREAD,TEA,BOURNVITA
6             MAGGI,TEA,CORNFLAKES
7          MAGGI,BREAD,TEA,BISCUIT
8              JAM,MAGGI,BREAD,TEA
9                       BREAD,MILK
10  COFFEE,COKE,BISCUIT,CORNFLAKES
11  COFFEE,COKE,BISCUIT,CORNFLAKES
12          COFFEE,SUGAR,BOURNVITA
13               BREAD,COFFEE,COKE
14             BREAD,SUGAR,BISCUIT
15         COFFEE,SUGAR,CORNFLAKES
16           BREAD,SUGAR,BOURNVITA
17              BREAD,COFFEE,SUGAR
18              BREAD,COFFEE,SUGAR
19      TEA,MILK,COFFEE,CORNFLAKES

In [0]:
trans = [i.split(',') for i in data['TRANSACTIONS']]

In [0]:
trans

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COKE', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COKE', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGAR', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COKE'],
 ['BREAD', 'SUGAR', 'BISCUIT'],
 ['COFFEE', 'SUGAR', 'CORNFLAKES'],
 ['BREAD', 'SUGAR', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGAR'],
 ['BREAD', 'COFFEE', 'SUGAR'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [0]:
items = list(set(itr.chain(*trans)))

In [0]:
items

['BISCUIT',
 'MAGGI',
 'SUGAR',
 'BOURNVITA',
 'COKE',
 'MILK',
 'BREAD',
 'CORNFLAKES',
 'TEA',
 'COFFEE',
 'JAM']

In [0]:
def subset(trans,n):
    a=[]
    for i in trans:
        for j in itr.combinations(i,n):
            a.append(frozenset(j))
    return(a)

In [0]:
def Candidates(items,n,L):
    c_list=[]
    a=[i for i in itr.combinations(items,n)]
    for j in a:
        flag=True
        for i in itr.combinations(j,n-1):
            m=i
            if(n==2):
                m=i[0]
            if m not in L:
                flag=False
                break
        if flag==True:
            c_list.append(j)      
    return(c_list)

In [0]:
def frequent_items(L,min_sup,trans,n):
    c_list=[]
    subsets = subset(trans,n)
    for item in L:
        if(n==1):
            element=frozenset({item})
        else:
            element=frozenset(item)
        if(subsets.count(element)>=min_sup):
            c_list.append(item)
    return(c_list)

In [0]:
def Apriori(items,min_sup,trans,i):
            L=[]
            tmp=frequent_items(items,min_sup,trans,i)
            L.append(tmp)
            C=Candidates(items,2,L[0])
            i=2
            while (len(L[i-2])>0):
                tmp=frequent_items(C,min_sup,trans,i)
                L.append(tmp)
                C=Candidates(items,i+1,L[i-1])
                i+=1
            return(L)

In [0]:
Apriori(items,10,trans,1)

[['BREAD'], []]

In [0]:
Apriori(items,8,trans,1)

[['BREAD', 'COFFEE'], []]

In [0]:
Apriori(items,3,trans,1)

[['BISCUIT',
  'MAGGI',
  'SUGAR',
  'BOURNVITA',
  'COKE',
  'MILK',
  'BREAD',
  'CORNFLAKES',
  'TEA',
  'COFFEE'],
 [('BISCUIT', 'BREAD'),
  ('BISCUIT', 'CORNFLAKES'),
  ('MAGGI', 'BREAD'),
  ('MAGGI', 'TEA'),
  ('SUGAR', 'BREAD'),
  ('SUGAR', 'COFFEE'),
  ('BOURNVITA', 'BREAD'),
  ('COKE', 'COFFEE'),
  ('MILK', 'BREAD'),
  ('BREAD', 'TEA'),
  ('BREAD', 'COFFEE'),
  ('CORNFLAKES', 'COFFEE')],
 []]

In [0]:
Apriori(items,2,trans,1)

[['BISCUIT',
  'MAGGI',
  'SUGAR',
  'BOURNVITA',
  'COKE',
  'MILK',
  'BREAD',
  'CORNFLAKES',
  'TEA',
  'COFFEE',
  'JAM'],
 [('BISCUIT', 'MAGGI'),
  ('BISCUIT', 'COKE'),
  ('BISCUIT', 'MILK'),
  ('BISCUIT', 'BREAD'),
  ('BISCUIT', 'CORNFLAKES'),
  ('BISCUIT', 'TEA'),
  ('BISCUIT', 'COFFEE'),
  ('MAGGI', 'BREAD'),
  ('MAGGI', 'TEA'),
  ('MAGGI', 'JAM'),
  ('SUGAR', 'BOURNVITA'),
  ('SUGAR', 'BREAD'),
  ('SUGAR', 'COFFEE'),
  ('BOURNVITA', 'BREAD'),
  ('BOURNVITA', 'TEA'),
  ('COKE', 'CORNFLAKES'),
  ('COKE', 'COFFEE'),
  ('MILK', 'BREAD'),
  ('MILK', 'CORNFLAKES'),
  ('BREAD', 'TEA'),
  ('BREAD', 'COFFEE'),
  ('BREAD', 'JAM'),
  ('CORNFLAKES', 'TEA'),
  ('CORNFLAKES', 'COFFEE')],
 [('BISCUIT', 'MAGGI', 'TEA'),
  ('BISCUIT', 'COKE', 'CORNFLAKES'),
  ('BISCUIT', 'COKE', 'COFFEE'),
  ('BISCUIT', 'MILK', 'BREAD'),
  ('BISCUIT', 'CORNFLAKES', 'COFFEE'),
  ('MAGGI', 'BREAD', 'TEA'),
  ('MAGGI', 'BREAD', 'JAM'),
  ('SUGAR', 'BREAD', 'COFFEE'),
  ('BOURNVITA', 'BREAD', 'TEA'),
  ('COKE', 'CORNFLAKES', 'COFFEE')],
 [('BISCUIT', 'COKE', 'CORNFLAKES', 'COFFEE')],
 []]